@page "/Chart"

<PageTitle>Síminn Verkefni</PageTitle>

@using DevExpress.Blazor
@using Finance.Services.Models
@inherits Finance.Data.ChartBase

<SearchBar OnClick="ClickHandler"></SearchBar>

@if (stock != null)
{
    <div class="row justify-content-between">
        <div class="col-sm-6 stockInfo" >
            <div>
                <div class="stockName">@stock.About.Name</div>
                <span class="stockPrice">@stock.Price.Previous_Close</span>
                <span class="stockName">$</span>
            </div>
        </div>

        <div class="col-sm-2"> 
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-toolbar mb-3 filters" role="toolbar" aria-label="First group">
                    <button type="button" class="btn btn-outline-primary" onclick="@GetLastSevenDays">7D</button>
                    <button type="button" class="btn btn-outline-primary" onclick="@GetLastMonth">1M</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <DxChart CssClass="my-chart dxc-axes-group" T="Month" Data="@months" @ref="chart">
            <DxChartLegend Visible="false" />
            <DxChartArgumentAxis TickInterval="ChartAxisTickInterval.Days(5)"
                                 Type="ChartAxisType.Discrete"
                                 Visible="true"
                                 DiscreteDivisionMode="ChartDiscreteAxisDivisionMode.CrossLabels"
                                 EndOnTick="true"
                                 SideMarginsEnabled="false">
                <DxChartAxisLabel Format="ChartElementFormat.MonthAndDay" />
            </DxChartArgumentAxis>            
            <DxChartValueAxis Visible="true" >
                <DxChartAxisGridLines Visible="false" />
            </DxChartValueAxis>
            <DxChartLineSeries Width="2"
                               T="Month"
                               TArgument="DateTime"
                               TValue="double"
                               ArgumentField="m => m.Date"
                               ValueField="m => m.Price"
                               Color="System.Drawing.Color.Blue">
                <DxChartSeriesPoint Visible=false />
            </DxChartLineSeries>
            <DxChartTooltip Enabled="true">
                @context.Point.Render((months) =>
                        @<div style="margin: 0.75rem">
                            <span class="font-weight-bold">@($"{months.Value: 0.0}$")</span>
                            <span>@($"{months.Argument: MMMM dd} ")</span>
                        </div>
                )
            </DxChartTooltip>
        </DxChart>
    </div>
}

